<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../layout.xhtml">

	<ui:define name="content">
		<h:form id="clienteForm">
			<p:panel header="Cadastro de Cliente">
				<h:panelGrid columns="1" id="grid">


					<p:selectOneMenu
						value="#{clienteController.cliente.pessoa.idTipoPessoa}"
						required="true">
						<f:selectItem itemLabel="Selecione..." itemValue=""
							noSelectionOption="true" />

						<f:selectItems value="#{clienteController.tipoPessoa}"
							itemValue="#{tipo.valor}" var="tipo" itemLabel="#{tipo.chave}" />

						<p:ajax listener="#{clienteController.renderizar}" process="@this"
							update="clienteForm:parentBlock" />
					</p:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid id="parentBlock" columns="1">
					<p:outputLabel for="nome" value="Nome:"
						rendered="#{clienteController.exibirCamposPJ || clienteController.exibirCamposPF}" />
					<p:inputText id="nome"
						value="#{clienteController.cliente.pessoa.nome}"
						rendered="#{clienteController.exibirCamposPJ || clienteController.exibirCamposPF}" />

					<p:outputLabel for="CPF" value="CPF: "
						rendered="#{clienteController.exibirCamposPF}" />
					<p:inputMask mask="999.999.999-99" id="CPF"
						value="#{clienteController.cliente.pessoa.cpf}"
						rendered="#{clienteController.exibirCamposPF}">

					</p:inputMask>

					<p:outputLabel for="CNPJ" value="CNPJ: "
						rendered="#{clienteController.exibirCamposPJ}" />
					<p:inputMask mask="99.999.999/9999-99" id="CNPJ"
						value="#{clienteController.cliente.pessoa.cnpj}"
						rendered="#{clienteController.exibirCamposPJ}" />


					<p:outputLabel for="ativo" value="Ativo: "
						rendered="#{clienteController.exibirCamposPJ || clienteController.exibirCamposPF}" />
					<p:selectBooleanCheckbox id="ativo"
						value="#{clienteController.cliente.ativo}"
						rendered="#{clienteController.exibirCamposPJ || clienteController.exibirCamposPF}" />


				</h:panelGrid>



				<h:commandButton value="Salvar" action="#{clienteController.salvar}">



				</h:commandButton>
				<h:panelGrid id="criticas" columns="1">

					<h:message for="CPF" style="color:red;margin:8px;" />
					<h:message for="CNPJ" style="color:red;margin:8px;" />
					<h:message for="nome" style="color:red;margin:8px;" />
				</h:panelGrid>



			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
